body{
    background: wheat;
}
.heading {
    color:#333;
}
nav{
    background: #333;
    font-size: 40px;
    padding: 10px;
    margin: 0px;
}
nav a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

tr,td, th {
    border: 1px solid black;
}
th {
    background-color: #333;
    color: white;
    padding: 10px;
}

.image {
    width: 250px;
    height: 200px;
}
.form {
    background: gray;
    padding:10px;
}
#form button{
    background: #333;
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 37%;
}
#form h3{
    color:white;
    font-size: 20px;
    margin-left: 40%;
}
#form label {
    margin: 10px;
    margin-right: 50px;
    font-size: 20px;
}
#form input{
    margin: 10px;
    background: red;
    color: white;
}
